@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

.hero {
  min-height: 100vh;

  background:
    radial-gradient(
      circle at 70% 45%,
      rgba(255, 100, 20, 0.35) 0%,
      rgba(255, 100, 20, 0.15) 25%,
      transparent 55%
    ),
    #0a0a0a;
}